body, html {
  font-family: Arial;
}

nav {
  background-color: #FF5B68;
  position: fixed;
  float: left;
  top: 0px; left: 0; right: 0;
  z-index: 999;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-right: 40px;
  padding-bottom: 20px;
  list-style: none;
  float: right;
  position: relative;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 21px;

  position: relative;
}

nav a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #444;
}

nav a::before {
  content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #4D4D4D;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

nav ul form {
  padding-top: 21px;
}

nav a img {
  height: 102px;
  width: 224px;
}

wrapper {
  font-weight: bold;
}

#content li {
  list-style-type: none;
}

#content .container {
    position: relative;
    width: 30%;
    padding-bottom: 20px;
}

#content .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

#content .middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#content .container:hover .image {
  opacity: 0.3;
}

#content .container:hover .middle {
  opacity: 1;
}

#content .text {
  background-color: #FF5B68;
  color: white;
  font-size: 16px;
  padding: 16px 32px;

}

#content .text a {
  text-decoration: none;
  color: #FFF
}
