{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}FOOD SHOP{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
<div id="navtools">

</div>

<div id="content">
	TEST
	{% block content %}
	{% endblock %}
</div>


<div id="footer">

</div>
</body>

