{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}FOOD SHOP{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
</head>
<body>
<div id="navtools">
  <wrapper>
  <nav>
    <ul>
      <li><a href="#">Log in</a></li>
      <li><a href="#">Register</a></li>
      <li><a href="#">Cart</a></li>
      <li><a href="#">Category</a></li>
      <li><a href="#">Account</a></li>
    </ul>
  </nav>
  </wrapper>
</div>

<div id="content">
	TEST
	{% block content %}
	{% endblock %}
</div>


<div id="footer">

</div>
</body>
