{% extends "base.html" %}
{% load static %}


{% block content %}
{% if food_list %}
    <ul>
    {% for food in food_list %}
        <li>
            <a>
              <div class="container">
                <img src="{% if food.image %}{{ food.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"  alt="Food" class="image" style="width:100%">
                <div class="middle">
                  <div class="text"><a href="{% url 'food:detail' food.id %}">{{ food.name }}</a></div>
                </div>
              </div>
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>We are out of food :(</p>
{% endif %}
{% endblock %}
